.grid-container{
    display: grid;
    height: 100vh;

    grid-template-columns: 15px 0fr 2fr 25px;
    grid-template-rows: 0.5fr 0.20fr 5fr 0.5fr;

    grid-template-areas: 
    ". header header ."
    ". nav nav ."
    ". main sidebar ."
    ". footer footer .";
}

header{
    background-color: #cccccc;
    grid-area: header;
}
nav{
    background-color: #000000;
    grid-area: nav;
}
main{
    background-color: #cccccc;
    grid-area: main;
}
.flex-container{
    grid-area: sidebar;
    background-color: #cccccc;

    display: flex;
    justify-content:space-around;
    align-items: center;
}

.kcc{

    width: 33%;
    height: 50%;
}
footer{
    background-color: #8f8f8f;
    grid-area: footer;
}

header h1{
    text-align: start;
}

.navbar ul{
    list-style-type: none; 
    background-color: hsl(0, 0%, 21%); 
    padding: 0;
    margin: 0;

    overflow: hidden;
}

.navbar a{ 
    color: white;
    font-size: 1.2em;
    text-decoration: none; 
    padding: 5px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: hsl(0, 0%, 0%); 
    transition: 1s;
}

.navbar li{
    float: left;
}